body {
  margin: 0;
  min-width: fit-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#glCanvas {
  display: block;
}

#glCanvas:active {
  cursor: grabbing;
}

.settings {
  margin-top: 20px;
}